:root {
  --mainfont: Segoe UI;
  --grey: #ccc;
  --shadow: 5px 5px 8px #333;
}

html {
  font-family: var(--mainfont);
}

body {
  text-align: center;
  background: #325;
}

.header {
  margin: 10px 0 50px 0;
  color: white;
  font-size: 1.2rem;
}

.players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.playertitle {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.score {
  color: white;
  font-weight: bold;
}

.score::before {
  content: "Score: ";
  font-weight: 400;
}

.winpointer {
  color: white;
}

.card {
  margin: auto;
  text-align: center;
  background: white;

  box-shadow: var(--shadow);
  border-radius: 10px;
  width: 201px;
  height: 320px;
}

.topcard {
  text-align: left;
  margin: 20px 0 0 25px;
  font-size: 1.1rem;
}

.middlecard {
  font-size: 6rem;
  margin-top: 40px;
}

.bottomcard {
  text-align: right;
  margin: 60px 0px 0px 150px;
  font-size: 1.1rem;
  transform: rotate(180deg);
}

.topcard img {
  height: 293px;
  width: 176px;
  margin: -11px;
}
#mainbtn {
  font-family: var(--mainfont);
  padding: 15px 20px;
  font-weight: bold;
  background: white;
  border: 0;
  border-radius: 4px;
  box-shadow: var(--shadow);
  font-size: 1rem;
  transition: 100ms;
}

#mainbtn:hover {
  background: #333;
  color: white;
  box-shadow: none;
}

#mainbtn:active {
  background: #345;
  border: none;
  color: white;
}

.resetbtn {
  position: absolute;
  top: 20px;
  left: 20px;
}

#win-p {
  margin: 0 0 0 30px;
}
#resetbtn {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

#resetbtn:hover {
  color: #333;
}

#resetbtn::after {
  font-size: 1rem;
  content: " reset game";
}

.pointer {
  margin-top: 20px;
  margin-left: 75px;
  font-size: 20px;
  width: 155px;
  height: 35px;
  border: 1px solid white;
  border-radius: 6px;
}
